<html>

<body>
<a href="/evenement/">Liste des evenements</a><br><br>
<form action="/evenement/ajoutEvenement" method="post">

    Nom de l'évenement  : <input type="text" name="nom"> <br><br>
    date de début: <input type="text" name="datedebut" /> <br><br>
    heure de début: <input type="text" name="heuredebut" /> <br><br>
    date de fin: <input type="text" name="datefin" /> <br><br>
    heure de fin : <input type="text" name="heurefin" /> <br><br>
    nombre de place: <input type="number" name="capacite" /><br><br>
    description: <textarea type="text" name="description" rows="5" ></textarea><br><br>
    lieu de l'évenement: <input type="text" name="lieu" /><br><br>
    paiement : <input type="text" name="paiement" /><br><br>
    Type de l'evenement : <input type="text" name="typeevenement" /><br><br>
    Type de lieu  : <input type="text" name="typelieu" /><br><br>

    <input type="submit" value="Ajouter" /><br><br>



</form>



</body>


</html>